body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.control-panel-box {
    display: block;
    overflow: auto;
    background: rgba(252, 249, 208, 0.5);
}

.control-panel-items {
    padding: 0.5rem;
    display: inline;
    align-items: flex-start;
    justify-content: space-around;
}

.text-area-box {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.text-area {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    height: 88vh;
    line-height: normal;
    font-size: 16pt;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.39);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-middle {
    left: 50%;
}
